
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:#ffffff;
}


.pokebola{
   width: 40px;
   margin-right:10px;
   filter: brightness(88%);
}

.nav{
    background-color: rgb(2, 2, 2);
    
}

.wspa{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color:rgb(248, 248, 248);
    font-size: 35px;
    background-color: rgb(167, 3, 3);
    border-radius:50px;
    
    width: 55px;
    height: 52px;

}

h2{
    color: black;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}
h5{
    text-align: center;
}
p{
    text-align: center;
}

.caja{
    margin-left:40px;
}
.card{
   width: 250px;
   border: solid 2px rgb(12, 12, 12);
   
   
}
img{
    width:fit-content;
}

.pie{
    margin-top:200px;
    background-color: black;
    
}

.pokebola1{
    width: 25px;
}

