
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:white;
    
    background-size:contain;
}


.pokebola{
    
   width: 40px;
   margin-right:10px;
   filter: brightness(88%);
}

.nav{
    background-color: rgb(2, 2, 2);
    margin-bottom: 120px;
   
    
    
}

.ultimate{
    margin-left: 175px; /* Centrado horizontal y margen superior/inferior */
  text-align: center; /* Centrar el texto */
  color: rgb(175, 9, 9);
}
#titulo{
    font-weight: 650;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(12, 12, 226);
}
.buscador{
    font-style: italic;
    margin-top: 20px;
    border: solid rgb(233, 7, 7) 1px;
    
}

.input-group-append {
    position: absolute;
    right:80px;
    top: 85%;
    transform: translateY(-50%);
    pointer-events: none; /* Esto asegura que el ícono no interfiera con la interacción del usuario */
}

.lupa {
    font-size: 20px; /* Ajusta el tamaño de la lupa */
    color: #050505; /* Color de la lupa */
}
#productContainer{
    margin-bottom: 190px;
    
}
.wspa{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color:rgb(248, 248, 248);
    font-size: 35px;
    background-color: rgb(55, 158, 7);
    border-radius:50px;
    width: 55px;
    height: 52px;

}

h2{
    color: rgb(180, 3, 3);
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    margin-top: 2px;
    
}

h5{
    text-align: center;
    font-size: 16px;
}
p{
   
    text-align: center;
    font-size: 16px;
    color: rgb(18, 93, 255);
    
}


.card{
   
   width: 18rem;
   padding: 15px;
   border: solid 1px #cccbcb ; 
   border-radius: 20px;
   margin: 10px; 
   margin-top: 2px;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
   justify-content:space-around;
   
   
}
.card-img-top{
    width: 100%;
    max-height: 150px;
    object-fit: contain; /*evita que la imagen se distocione*/
    margin-bottom: 10px;
}
.category-container{
    margin-bottom: 40px;
    
}

.botonn{
    width: 100%;
    margin-top: auto;
    padding: 10px;
    background-color: rgb(204, 13, 13);
    border: transparent;
    border-radius: 15px;
    cursor: pointer;
}

.botonn:hover{
    background-color: rgb(245, 38, 38);
}


img{
    width:80px;
}


.card-img-top {
    transition: transform 0.4s ease; /* Tiempo y efecto de transición */
}

.card:hover .card-img-top {
    transform: scale(1.2); /* Nivel de zoom al hacer hover */
}
#f3{
    top: 80px;
    border-radius: 8px;
    border: solid 2px transparent;
    
    padding-top: 35px;
    padding-bottom: 35px;
}
.pie{
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top:200px;
    background-color: black;
    padding-top: 20px;
    
}

.pokebola1{
    width: 40px;
    margin: 5px;
}

.dicho{
    margin-top: 40px;
    margin-bottom: 40px;
    color: grey;
}

.parrafop-final{
    margin: 0;
}

.btn{
    margin: 2px;
    border-radius: 8px;
}

#cartCount{
    color: rgb(230, 10, 10);
}


#checkoutButton {
    background-color: #00a650; /* Color característico de Mercado Pago */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

#checkoutButton:hover {
    background-color: #007a40;
}

@media (max-width: 768px) { /* Para pantallas de tablet o más pequeñas */
    .ultimate {
      margin: 10px auto; /* Reduce el margen */
      font-size: 14px; /* Ajusta el tamaño del texto si es necesario */
    }
  }
  
  @media (max-width: 576px) { /* Para pantallas de celular */
    .ultimate {
      margin: 5px auto; /* Margen aún más reducido */
      font-size: 12px; /* Texto más pequeño */
    }
  }